* {
  box-sizing: border-box;
  overflow: hidden;
}

.table{
  background: burlywood;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  overflow-x: hidden;
}

/*Just removing default browser padding/margin*/
html,
body {
  padding: 0;
  margin: 0;
  color: #ebebeb;
}

.independent-scroll,
.decree-scroll{
  overflow: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow-y: scroll;
  max-height: 300px;
}

.text-alighn-left {
  text-align: left;
}

.scroll-heading,
.decree-box,
.decree-scroll{
  background-color: bisque;
  color: black;
}

.independent-scroll::-webkit-scrollbar,
.decree-scroll::-webkit-scrollbar {
  display: none;
}

.Top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  position: relative;
  z-index: 10;
  height: 80px;
}

.scroll{
  background-color: bisque;
  color: black;
}

.scroll-container {
  background-color: bisque;
  padding: 30px;
}